/* open-sans-300normal - latin */
@font-face {
font-family: 'Open Sans';
font-style: normal;
font-display: swap;
font-weight: 300;
src:
  local('Open Sans Light '),
  local('Open Sans-Light'),
  url('../fonts/open-sans-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* open-sans-300italic - latin */
@font-face {
font-family: 'Open Sans';
font-style: italic;
font-display: swap;
font-weight: 300;
src:
  local('Open Sans Light italic'),
  local('Open Sans-Lightitalic'),
  url('../fonts/open-sans-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-latin-300italic.woff') format('woff'); /* Modern Browsers */
}

/* open-sans-400normal - latin */
@font-face {
font-family: 'Open Sans';
font-style: normal;
font-display: swap;
font-weight: 400;
src:
  local('Open Sans Regular '),
  local('Open Sans-Regular'),
  url('../fonts/open-sans-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* open-sans-400italic - latin */
@font-face {
font-family: 'Open Sans';
font-style: italic;
font-display: swap;
font-weight: 400;
src:
  local('Open Sans Regular italic'),
  local('Open Sans-Regularitalic'),
  url('../fonts/open-sans-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* open-sans-600normal - latin */
@font-face {
font-family: 'Open Sans';
font-style: normal;
font-display: swap;
font-weight: 600;
src:
  local('Open Sans SemiBold '),
  local('Open Sans-SemiBold'),
  url('../fonts/open-sans-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* open-sans-600italic - latin */
@font-face {
font-family: 'Open Sans';
font-style: italic;
font-display: swap;
font-weight: 600;
src:
  local('Open Sans SemiBold italic'),
  local('Open Sans-SemiBolditalic'),
  url('../fonts/open-sans-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-latin-600italic.woff') format('woff'); /* Modern Browsers */
}

/* open-sans-700normal - latin */
@font-face {
font-family: 'Open Sans';
font-style: normal;
font-display: swap;
font-weight: 700;
src:
  local('Open Sans Bold '),
  local('Open Sans-Bold'),
  url('../fonts/open-sans-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* open-sans-700italic - latin */
@font-face {
font-family: 'Open Sans';
font-style: italic;
font-display: swap;
font-weight: 700;
src:
  local('Open Sans Bold italic'),
  local('Open Sans-Bolditalic'),
  url('../fonts/open-sans-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

/* open-sans-800normal - latin */
@font-face {
font-family: 'Open Sans';
font-style: normal;
font-display: swap;
font-weight: 800;
src:
  local('Open Sans ExtraBold '),
  local('Open Sans-ExtraBold'),
  url('../fonts/open-sans-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-latin-800.woff') format('woff'); /* Modern Browsers */
}

/* open-sans-800italic - latin */
@font-face {
font-family: 'Open Sans';
font-style: italic;
font-display: swap;
font-weight: 800;
src:
  local('Open Sans ExtraBold italic'),
  local('Open Sans-ExtraBolditalic'),
  url('../fonts/open-sans-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-latin-800italic.woff') format('woff'); /* Modern Browsers */
}

/* source-sans-pro-200normal - latin */
@font-face {
font-family: 'Source Sans Pro';
font-style: normal;
font-display: swap;
font-weight: 200;
src:
	local('Source Sans Pro Extra Light '),
	local('Source Sans Pro-Extra Light'),
	url('../fonts/source-sans-pro-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/source-sans-pro-latin-200.woff') format('woff'); /* Modern Browsers */
}

/* source-sans-pro-200italic - latin */
@font-face {
font-family: 'Source Sans Pro';
font-style: italic;
font-display: swap;
font-weight: 200;
src:
	local('Source Sans Pro Extra Light italic'),
	local('Source Sans Pro-Extra Lightitalic'),
	url('../fonts/source-sans-pro-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/source-sans-pro-latin-200italic.woff') format('woff'); /* Modern Browsers */
}

/* source-sans-pro-300normal - latin */
@font-face {
font-family: 'Source Sans Pro';
font-style: normal;
font-display: swap;
font-weight: 300;
src:
	local('Source Sans Pro Light '),
	local('Source Sans Pro-Light'),
	url('../fonts/source-sans-pro-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/source-sans-pro-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* source-sans-pro-300italic - latin */
@font-face {
font-family: 'Source Sans Pro';
font-style: italic;
font-display: swap;
font-weight: 300;
src:
	local('Source Sans Pro Light italic'),
	local('Source Sans Pro-Lightitalic'),
	url('../fonts/source-sans-pro-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/source-sans-pro-latin-300italic.woff') format('woff'); /* Modern Browsers */
}

/* source-sans-pro-400normal - latin */
@font-face {
font-family: 'Source Sans Pro';
font-style: normal;
font-display: swap;
font-weight: 400;
src:
	local('Source Sans Pro Regular '),
	local('Source Sans Pro-Regular'),
	url('../fonts/source-sans-pro-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/source-sans-pro-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* source-sans-pro-400italic - latin */
@font-face {
font-family: 'Source Sans Pro';
font-style: italic;
font-display: swap;
font-weight: 400;
src:
	local('Source Sans Pro Regular italic'),
	local('Source Sans Pro-Regularitalic'),
	url('../fonts/source-sans-pro-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/source-sans-pro-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* source-sans-pro-600normal - latin */
@font-face {
font-family: 'Source Sans Pro';
font-style: normal;
font-display: swap;
font-weight: 600;
src:
	local('Source Sans Pro SemiBold '),
	local('Source Sans Pro-SemiBold'),
	url('../fonts/source-sans-pro-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/source-sans-pro-latin-600.woff') format('woff'); /* Modern Browsers */
}

/* source-sans-pro-600italic - latin */
@font-face {
font-family: 'Source Sans Pro';
font-style: italic;
font-display: swap;
font-weight: 600;
src:
	local('Source Sans Pro SemiBold italic'),
	local('Source Sans Pro-SemiBolditalic'),
	url('../fonts/source-sans-pro-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/source-sans-pro-latin-600italic.woff') format('woff'); /* Modern Browsers */
}

/* source-sans-pro-700normal - latin */
@font-face {
font-family: 'Source Sans Pro';
font-style: normal;
font-display: swap;
font-weight: 700;
src:
	local('Source Sans Pro Bold '),
	local('Source Sans Pro-Bold'),
	url('../fonts/source-sans-pro-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/source-sans-pro-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* source-sans-pro-700italic - latin */
@font-face {
font-family: 'Source Sans Pro';
font-style: italic;
font-display: swap;
font-weight: 700;
src:
	local('Source Sans Pro Bold italic'),
	local('Source Sans Pro-Bolditalic'),
	url('../fonts/source-sans-pro-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/source-sans-pro-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

/* source-sans-pro-900normal - latin */
@font-face {
font-family: 'Source Sans Pro';
font-style: normal;
font-display: swap;
font-weight: 900;
src:
	local('Source Sans Pro Black '),
	local('Source Sans Pro-Black'),
	url('../fonts/source-sans-pro-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/source-sans-pro-latin-900.woff') format('woff'); /* Modern Browsers */
}

/* source-sans-pro-900italic - latin */
@font-face {
font-family: 'Source Sans Pro';
font-style: italic;
font-display: swap;
font-weight: 900;
src:
	local('Source Sans Pro Black italic'),
	local('Source Sans Pro-Blackitalic'),
	url('../fonts/source-sans-pro-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/source-sans-pro-latin-900italic.woff') format('woff'); /* Modern Browsers */
}

/* lato-100normal - latin */
@font-face {
font-family: 'Lato';
font-style: normal;
font-display: swap;
font-weight: 100;
src:
	local('Lato Thin '),
	local('Lato-Thin'),
	url('../fonts/lato-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/lato-latin-100.woff') format('woff'); /* Modern Browsers */
}

/* lato-100italic - latin */
@font-face {
font-family: 'Lato';
font-style: italic;
font-display: swap;
font-weight: 100;
src:
	local('Lato Thin italic'),
	local('Lato-Thinitalic'),
	url('../fonts/lato-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/lato-latin-100italic.woff') format('woff'); /* Modern Browsers */
}

/* lato-300normal - latin */
@font-face {
font-family: 'Lato';
font-style: normal;
font-display: swap;
font-weight: 300;
src:
	local('Lato Light '),
	local('Lato-Light'),
	url('../fonts/lato-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/lato-latin-300.woff') format('woff'); /* Modern Browsers */
}

/* lato-300italic - latin */
@font-face {
font-family: 'Lato';
font-style: italic;
font-display: swap;
font-weight: 300;
src:
	local('Lato Light italic'),
	local('Lato-Lightitalic'),
	url('../fonts/lato-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/lato-latin-300italic.woff') format('woff'); /* Modern Browsers */
}

/* lato-400normal - latin */
@font-face {
font-family: 'Lato';
font-style: normal;
font-display: swap;
font-weight: 400;
src:
	local('Lato Regular '),
	local('Lato-Regular'),
	url('../fonts/lato-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/lato-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* lato-400italic - latin */
@font-face {
font-family: 'Lato';
font-style: italic;
font-display: swap;
font-weight: 400;
src:
	local('Lato Regular italic'),
	local('Lato-Regularitalic'),
	url('../fonts/lato-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/lato-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* lato-700normal - latin */
@font-face {
font-family: 'Lato';
font-style: normal;
font-display: swap;
font-weight: 700;
src:
	local('Lato Bold '),
	local('Lato-Bold'),
	url('../fonts/lato-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/lato-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* lato-700italic - latin */
@font-face {
font-family: 'Lato';
font-style: italic;
font-display: swap;
font-weight: 700;
src:
	local('Lato Bold italic'),
	local('Lato-Bolditalic'),
	url('../fonts/lato-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/lato-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

/* lato-900normal - latin */
@font-face {
font-family: 'Lato';
font-style: normal;
font-display: swap;
font-weight: 900;
src:
	local('Lato Black '),
	local('Lato-Black'),
	url('../fonts/lato-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/lato-latin-900.woff') format('woff'); /* Modern Browsers */
}

/* lato-900italic - latin */
@font-face {
font-family: 'Lato';
font-style: italic;
font-display: swap;
font-weight: 900;
src:
	local('Lato Black italic'),
	local('Lato-Blackitalic'),
	url('../fonts/lato-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/lato-latin-900italic.woff') format('woff'); /* Modern Browsers */
}

/* playfair-display-400normal - latin */
@font-face {
font-family: 'Playfair Display';
font-style: normal;
font-display: swap;
font-weight: 400;
src:
	local('Playfair Display Regular '),
	local('Playfair Display-Regular'),
	url('../fonts/playfair-display-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/playfair-display-latin-400.woff') format('woff'); /* Modern Browsers */
}

/* playfair-display-400italic - latin */
@font-face {
font-family: 'Playfair Display';
font-style: italic;
font-display: swap;
font-weight: 400;
src:
	local('Playfair Display Regular italic'),
	local('Playfair Display-Regularitalic'),
	url('../fonts/playfair-display-latin-400italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/playfair-display-latin-400italic.woff') format('woff'); /* Modern Browsers */
}

/* playfair-display-700normal - latin */
@font-face {
font-family: 'Playfair Display';
font-style: normal;
font-display: swap;
font-weight: 700;
src:
	local('Playfair Display Bold '),
	local('Playfair Display-Bold'),
	url('../fonts/playfair-display-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/playfair-display-latin-700.woff') format('woff'); /* Modern Browsers */
}

/* playfair-display-700italic - latin */
@font-face {
font-family: 'Playfair Display';
font-style: italic;
font-display: swap;
font-weight: 700;
src:
	local('Playfair Display Bold italic'),
	local('Playfair Display-Bolditalic'),
	url('../fonts/playfair-display-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/playfair-display-latin-700italic.woff') format('woff'); /* Modern Browsers */
}

/* playfair-display-900normal - latin */
@font-face {
font-family: 'Playfair Display';
font-style: normal;
font-display: swap;
font-weight: 900;
src:
	local('Playfair Display Black '),
	local('Playfair Display-Black'),
	url('../fonts/playfair-display-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/playfair-display-latin-900.woff') format('woff'); /* Modern Browsers */
}

/* playfair-display-900italic - latin */
@font-face {
font-family: 'Playfair Display';
font-style: italic;
font-display: swap;
font-weight: 900;
src:
	local('Playfair Display Black italic'),
	local('Playfair Display-Blackitalic'),
	url('../fonts/playfair-display-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/playfair-display-latin-900italic.woff') format('woff'); /* Modern Browsers */
}
